.overview.expanding {
	width: 100% !important;
	height: 100% !important;
	left: 0 !important;
	top: 0 !important;
	background-color: #fefefe !important;
	border-color: #ccc;
	border-width: 1em;
	border-style: solid;
	z-index: 9999;
	box-sizing: border-box;
}