.breakdown li {
	box-sizing: border-box;
	background-color: #fefefe;
	border-width: 0.5em 1em;
	border-style: solid;
	border-color: #ccc;
}

.breakdown li:first-child {
	border-top-width: 1em;
}

.breakdown li:last-child {
	border-bottom-width: 1em;
}

.breakdown .chart {
	/* Make position relative so that we can absolutly position child elements
	with respect to this element.*/
	position: relative;
	margin: auto;
}

.breakdown .chart h2 {
	color: #242424;
	font-size: 1.2em;
	position: absolute;
	top: 0.6em;
	/* Making the width 100% and aligning the text to center lets us center this
	element without knowing how long it is.*/
	text-align: center;
	width: 100%;
}