.breakdown li {
	box-sizing: border-box;
	background-color: #fefefe;
	border-width: 0.5em 1em;
	border-style: solid;
	border-color: #ccc;
	position: relative;
	display: block;
}

.breakdown li:first-child {
	border-top-width: 1em;
}

.breakdown li:last-child {
	border-bottom-width: 1em;
}

.breakdown canvas {
	display: block;
	margin: auto;
}

.breakdown h2 {
	color: #242424;
	font-size: 1.2em;
	position: absolute;
	top: 0.6em;
	text-align: center;
	width: 100%;
}