/* Header and navigation items */

header {
    height: 2.4em;
}

header a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

#navicon {
	/* The navicon character displays a little bit lower than its surrounding
	text.  To fix that, we position it relatively and move it up by a little
	bit.*/
	position: relative;
	top: -0.05em;
    font-size: 1.5em;
    width: 1.2em;
	float: left;
	margin-right: 0.3em;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	transition: color 1s;
}

#breadcrumbs {
	font-size: 1.5em;
	position: relative;
	float: left;
}

#breadcrumbs li {
	display: inline;
	margin: 0 0.3em;
}

nav {
    border: 3px solid #b5b5b5;
    position: absolute;
    background-color: #222222;
    left: -47em;
	top: 2.5em;
    z-index: 9999;
	-moz-transition: left 0.5s;
	-webkit-transition: left 0.5s;
	-o-transition: left 0.5s;
	-ms-transition: left 0.5s;
    transition: left 0.5s;
}

nav th {
    text-align: left;
	font-weight: bold;
    border-bottom: 1px solid white;
}

nav td, nav th {
    padding: 0.5em 1em 0.5em 1em;
}

nav colgroup {
    background-color: #222222;
}

nav colgroup:nth-child(even) {
    background-color: #363636;
}

/* Hover over main navigation label */

#navicon:hover {
	color: red;
	-webkit-transition: color 1s;
	-moz-transition: color 1s;
	-transition: color 1s;
}

#navicon:hover+nav, nav:hover {
    left: 0px;
}