/* General HTML elements */

body {
	background-color: #222222;
	color: white;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 1em 1em;
}

/* Special classes */

.downarrow {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 10px solid white;
}

.uparrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid white;
}

/* General Dharma sections */

#top {
    height: 2em;
}

#content {
	/*position: relative;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	flex-flow: row;
	margin-top: 0.5em;
}

/* Generic widgets */

.widget {
    cursor: pointer;
}

/* Specific widgets */

#karma {
    background-color: #47bbb3;
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
	min-width: 200px;
}

#quality {
	background-color: #ff8001;
	-webkit-flex: 2;
	-moz-flex: 2;
	flex: 2;
	margin: 0 8px;
	min-width: 300px;
}

#spending {
	background-color: #634fff;
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
	min-width: 200px;
}