/* General HTML elements */

html {
	height: 42em;
}

body {
	background-color: #222222;
	color: white;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 73em;
	margin: 1em auto;
}

header {
    height: 2em;
}

header h1 {
    font-size: 1.5em;
    width: 5em;
}

/* Special classes */

.downarrow {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 10px solid white;
}

.uparrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid white;
}

/* General Dharma sections */

#content {
	/* Make this positon: relative so that each child can be positioned absolute
	to its boundaries.*/
	position: relative;
}

/* Generic widgets */

.widget {
    cursor: pointer;
	position: absolute;
}

/* Top-level widgets */

#karma {
    background-color: #47bbb3;
	width: 18em;
	height: 20em;
	top: 0em;
	left: 0em;
}

#quality {
	background-color: #ff8001;
	width: 36em;
	height: 20em;
	top: 0em;
	left: 18.5em;
}

#spending {
	background-color: #634fff;
	width: 18em;
	height: 40.5em;
	top: 0em;
	left: 55em;
}

#production {
	background-color: #ff7676;
	width: 54.5em;
	height: 20em;
	top: 20.5em;
	left: 0em;
}