#nav {
    border: 3px solid #b5b5b5;
    position: absolute;
    left: -740px;
    z-index: 9999;
    transition: left 0.5s;
}

#nav th {
    text-align: left;
    border-bottom: 1px solid white;
}

#nav a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#nav td, #nav th {
    padding: 0.5em 1em 0.5em 1em;
}

#current-selection {
    width: 50px;
}

#current-selection:hover+#nav, #nav:hover {
    left: -3px;
}