/* Navigation table */

nav {
    border: 3px solid #b5b5b5;
    position: absolute;
    background-color: #222222;
    /*left: -740px;*/
    z-index: 9999;
	-moz-transition: left 0.5s;
	-webkit-transition: left 0.5s;
    transition: left 0.5s;
}

nav a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

nav ul {
    /*width: 1000px;*/
}

nav ul li {
    display: inline-table;
    border-spacing: 1em;
}

nav ul li.even {
    background-color: #363636;
}

nav ul li#jenk {
    display: inline-block;
    width: 6em;
    vertical-align: top;
}

nav ul li h3 {
    display: table-caption;
}

nav ul li .row {
    display: table-row;
}

nav ul li .row > a {
    display: table-cell;
}

/* Hover over main navigation label */

/*#current-selection:hover+nav, nav:hover {
    left: -5px;
}*/