/* Top-level widgets */

.widget {
    cursor: pointer;
    position: absolute;
}

#karma {
    background-color: #47bbb3;
	width: 24%;
	height: 20em;
    min-width: 14em;
    top: 0;
    left: 0;
}

#quality {
	background-color: #ff8001;
	width: 48%;
	height: 20em;
    min-width: 28em;
    top: 0;
    left: -webkit-calc(24% + 0.5em);
    left: -moz-calc(24% + 0.5em);
    left: -o-calc(24% + 0.5em);
    left: -ms-calc(24% + 0.5em);
    left: calc(24% + 0.5em);
}

#spending {
	background-color: #634fff;
	width: 24%;
	height: 40.5em;
    min-width: 14em;
    top: 0;
    left: -webkit-calc(72% + 1em);
    left: -moz-calc(72% + 1em);
    left: -o-calc(72% + 1em);
    left: -ms-calc(72% + 1em);
    left: calc(72% + 1em);
}

#production {
	background-color: #ff7676;
    /* All of these calc(% + em)'s allow us to have a flexible layout with a
    fixed margin between the widgets, and still line everything up properly.*/
	width: -webkit-calc(72% + 0.5em);
    width: -moz-calc(72% + 0.5em);
    width: -o-calc(72% + 0.5em);
    width: -ms-calc(72% + 0.5em);
    width: calc(72% + 0.5em);
	height: 20em;
    min-width: 42.5em;
    top: 20.5em;
    left: 0;
}

/* Generic widget parts */

.widget > h2 {
    font-size: 1.5em;
    margin-top: 2em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.widget p {
    font-size: 1.5em;
}

.widget.fail > h1 {
    text-align: center;
    margin-top: 0.8em;
    font-size: 6em;
}

.widget.fail > p {
    text-align: center;
    margin-top: 1em;
    color: rgba(255, 255, 255, 0.7);
}

/* Widget tables */

.widget .table {
    display: table;
}

.widget .table .row {
    display: table-row;
}

.widget .table .row > p {
    display: table-cell;
}

.widget .table .row > p.right {
    text-align: right;
}

/* Specific widget parts */

#karma > p.main {
    /* Increase the font of the main detail of the widget.*/
    font-size: 4em;
}