/* Top-level widgets */

.widget {
    /*cursor: pointer;*/
    position: absolute;
}

#karma {
    background-color: #47bbb3;
	height: 20em;
    min-width: 14em;
    top: 0;
    left: 0;
    width: -webkit-calc(25% - 0.25em);
    width: calc(25% - 0.25em);
}

#quality {
	background-color: #ff8001;
	height: 20em;
    min-width: 28em;
    top: 0;
    left: -webkit-calc(25% + 0.25em);
    left: calc(25% + 0.25em);
    width: -webkit-calc(50% - 0.5em);
    width: calc(50% - 0.5em);
}

#spending {
	background-color: #634fff;
	height: 40.5em;
    min-width: 14em;
    top: 0;
    left: -webkit-calc(75% + 0.25em);
    left: calc(75% + .25em);
    width: -webkit-calc(25% - 0.25em);
    width: calc(25% - 0.25em);
}

#production {
	background-color: #ff7676;
	height: 20em;
    min-width: 42.5em;
    top: 20.5em;
    left: 0;
    width: -webkit-calc(75% - 0.25em);
    width: calc(75% - 0.25em);
}

/* Generic widget parts */

.widget h2, .widget p, .widget table {
	position: absolute;
}

.widget > h2 {
    font-size: 1.5em;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
	width: 100%;
	top: 15%;
}

.widget p {
    font-size: 1.5em;
	width: 100%;
	text-align: center;
}

.widget table td {
	height: 1.4em;
}

.widget table td:nth-child(even) {
	text-align: right;
}

.widget.fail > h1 {
	position: relative;
    text-align: center;
    margin-top: 0.8em;
    font-size: 6em;
}

.widget.fail > p {
	position: relative;
    text-align: center;
    margin-top: 1em;
    color: rgba(255, 255, 255, 0.7);
}

/* Specific widget parts */

#karma p.main {
	font-size: 4em;
	top: -webkit-calc(50% - 0.5em);
	top: calc(50% - 0.5em);
}

#karma p.secondary {
	bottom: 15%;
}

#quality table {
	font-size: 1.8em;
	top: -webkit-calc(50% - 1em);
	top: calc(50% - 1em);
	width: 60%;
	/* The table is 60% wide, which means we can center it by setting 'left' to
    half of the remaining 40%.*/
	left: 20%;
}

#spending > h2 {
	/* The other widgets have their title at top=15%.  Spending is twice as
	tall as the others, though, so put its title at 7.5%.*/
	top: 7.5%;
}

#spending table {
	font-size: 1.4em;
	top: -webkit-calc(50% - 8.4em);
	top: calc(50% - 8.4em);
	width: 90%;
	/* This table is 90% wide, which means we can center it by setting 'left' to
    half of the remaining 10%.*/
	left: 5%;
}

#production div {
    position: absolute;
    bottom: 10%;
}

#production div#total-prod-chart {
    left: 5%;
}

#production div#nuts-prod-chart {
    left: -webkit-calc(50% - 100px);
}

#production div#bolts-prod-chart {
    right: 5%;
}